<template name="layout">
  <div class="ui large fixed transparent main menu">
    <div class="container">
      <a class="launch item" href="{{pathFor 'home'}}">
        <i class="icon-gamepad"></i> 
        <b>GamesHUB</b>
      </a>
      
      <div class="right menu">
        <div class="ui item">
          <div class="ui basic button" id="create_room_btn">
            <i class="icon plus"></i>
            New Room
          </div>
        </div>

        {{#if currentUser}}
          {{> signOut}}
        {{/if}}
      </div>
    </div>
  </div>

  <div class="main container" style="padding: 70px 15px">
    {{>yield}}
  </div>
  {{> yield region="tmp"}}
</template>

<template name="layoutWithoutHeaderAndFooter">
  {{>yield}}
  {{> yield region="tmp"}}
</template>

<template name="layoutWithoutHeader">
  {{>yield}}
  {{>footer}}
  {{> yield region="tmp"}}
</template>
