<template name="layout">
  <div class="ui fixed transparent main menu">
    <div class="container">
      <a class="launch item"><i class="icon list layout"></i> <b>GamesHUB</b></a>
      
      <div class="right menu">
        <div class="vertically fitted borderless item">
          right menu
        </div>
      </div>
    </div>
  </div>

  <div class="ui grid">
    {{>yield}}
  </div>
</template>

<template name="layoutWithoutHeaderAndFooter">
  {{>yield}}
  {{> yield region="tmp"}}
</template>

<template name="layoutWithoutHeader">
  {{>yield}}
  {{>footer}}
  {{> yield region="tmp"}}
</template>
