<template name="layout">
  <!--{{> yield region="sidebar"}}-->
  <div class="ui large fixed transparent main menu">
    <div class="container">
      <a class="launch item" href="{{pathFor 'home'}}">
        <i class="icon-gamepad"></i>
        <b>GamesHUB</b>
      </a>

      <div class="right menu">
        {{#if currentUser}}
          {{> yield region="rightMenu"}}
        {{else}}
          <div class="ui item">
            <div class="ui basic button" id="signin_btn">
              <i class="icon user"></i>
              SignIn
            </div>
          </div>
        {{/if}}

        {{> signOut}}
      </div>
    </div>
  </div>

  <div class="main container">
    <!--{{>user_menu_launch_btn}}-->
    {{>yield}}

    <div class="ui active dimmer" id="overlay_loader">
      <div class="ui loader"></div>
    </div>
  </div>

  {{#unless Meteor.userId}}
  <div id="sign_in" class="ui small modal">
    {{> signIn}}
  </div>
  {{/unless}}

  {{> invite_trigger}}

  {{> yield region="tmp"}}
</template>

<template name="layoutWithoutHeaderAndFooter">
  {{>yield}}
  {{> yield region="tmp"}}
</template>

<template name="layoutWithoutHeader">
  {{>yield}}
  {{>footer}}
  {{> yield region="tmp"}}
</template>
